.blogs-wrapper {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  .title {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .link {
    a {
      text-decoration: none;
      color: #000000;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .categories {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 25%;
      padding: 5px;
      font-size: 12px;
      margin: 5px;
    }
  }
  .categories> :first-child {
    margin-left: 0 !important;
  }
  .separator {
    border-style: ridge;
    border-width: thin;
    border-color: #efefef;
  }
  .separator> :last-child {
    display: none;
  }
}

.author-wrapper {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  .title {
    margin: 0;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .link {
    a {
      text-decoration: none;
      color: #000000;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
